*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;   
    font-family: Arial, Helvetica, sans-serif;   
}

body{
    max-width: 1440px;
    margin: auto;
    padding-top: 94px;
}

main, footer, header{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

